@inherits LayoutComponentBase

<div class="page">


    <main>
        <div class="top-row px-4">
            <a href="https://aggregations.io" target="_blank">Aggregations.io</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>